pcre2
vala
vte3
spice-protocol
six
pyparsing
celt051
spice
spice-gtk
gtk-vnc
python-urllib3
idna
python-chardet
python-certifi
python-requests
ipaddr-py
tunctl
gnome-python2-gconf
urlgrabber
yajl
libvirt
libvirt-python
libvirt-glib
osinfo-db-tools
osinfo-db
libosinfo
virt-manager
