vala
vte3
spice-protocol
six
pyparsing
celt051
spice
spice-gtk
gtk-vnc
python-requests
python-urllib3
ipaddr-py
tunctl
gnome-python2-gconf
urlgrabber
yajl
libvirt
libvirt-python
libvirt-glib
libosinfo
virt-manager
