libbluray
x265
x264
chromaprint
libminizip
schroedinger
fluidsynth
libdvdcss
rtmpdump
libinput
libxkbcommon
qt5
live555
ORBit2
libbonobo
gnome-mime-data
gnome-vfs
dirac
vcdimager
libreplaygain
libcuefile
musepack-tools
libmodplug
libavc1394
faad2
zvbi
libsidplay2
jack-audio-connection-kit
ftgl
projectM
libdaemon
avahi
speex
libshout
libebml
libmatroska
libdca
libmp4v2
faac
libkate
libtar
opencv
gsm
libwebp
# %README%: see the ffmpeg README file. 
ffmpeg
opus
twolame
portaudio
lua
libupnp
libmpeg2
libdvbpsi
libdc1394
libass
vlc
