protobuf3
libnfs
x265
x264
chromaprint
libminizip
schroedinger
libdvdcss
rtmpdump
live555
ORBit2
libbonobo
gnome-mime-data
gnome-vfs
dirac
vcdimager
libreplaygain
libcuefile
musepack-tools
libmodplug
libavc1394
faad2
zvbi
libsidplay2
jack
projectM
libdaemon
avahi
libshout
libdca
faac
libkate
libtar
gsm
twolame
portaudio
lua
libmpeg2
libdvbpsi
libdc1394
libass
vlc
