perl-PAR-Dist
perl-Module-Build
perl-common-sense
perl-Types-Serialiser
perl-Canary-Stability
perl-JSON-XS
perl-JSON
perl-www-robotrules
perl-net-http
perl-IO-HTML
perl-lwp-mediatypes
perl-http-date
perl-html-tagset
perl-html-parser
perl-encode-locale
perl-http-message
perl-http-negotiate
perl-http-daemon
perl-http-cookies
perl-file-listing
libwww-perl
perl-lwp-useragent-cached
perl-Net-LibIDN
Net-SSLeay
perl-IO-Socket-SSL
perl-Mozilla-CA
perl-LWP-Protocol-https
perl-data-dump
youtube-viewer
