# Queue file for openshot
# Tested on 32 and 64bit Slackware
# Created by agentc0re
# To use this, you must have all the queue files save in your
# /var/lib/sbopkg/queues directory
# openshot.sqf
# mlt-openshot.sqf
#

@mlt-openshot.sqf
frei0r
goocanvas
pygoocanvas
pyxdg
openshot
