#!/bin/sh
# $Id: sbopkg.conf.sample 14 2008-03-27 02:35:12Z chess.griffin $

RSYNCMIRROR=${RSYNCMIRROR:-slackbuilds.org::slackbuilds}
SLACKVER=${SLACKVER:-12.0}
LOCALREPO=${LOCALREPO:-/home/sbo}
SRCDIR=${SRCDIR:-/var/cache/sbopkg}
TMP=${TMP:-/tmp}
KEEPLOG=${KEEPLOG:-YES}
